language: objective-c

env:
  global:
    - LANG=en_US.UTF-8

before_install:
  - gem install cocoapods --no-ri --no-rdoc

script:
  - xctool -workspace CrushBootstrap.xcworkspace -scheme CrushBootstrap-Staging -sdk iphonesimulator build ARCHS=i386 VALID_ARCHS=i386 ONLY_ACTIVE_ARCH=NO
