// Base configuration; included in all builds.

// The [config=*] business below is a poor man's way to append to configuration
// settings coming from includes at the same hierarchy. It's ugly, but it works.
// See http://stackoverflow.com/q/1393987
// We define CONFIGURATION_(configuration name in all caps) and just the bare
// configuration name in all caps. The latter is the convention CocoaPods uses
// as of 0.34 for its per-configuration pod dependencies.
GCC_PREPROCESSOR_DEFINITIONS[config=*] = $(inherited) CONFIGURATION_$(CONFIGURATION:upper) $(CONFIGURATION:upper)=1

// Some extra useful warnings:
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
GCC_WARN_SHADOW = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES
WARNING_CFLAGS[config=*] = $(inherited) -Wall -Wextra -Wno-unused-parameter -Wno-unknown-warning-option

// Tone down xcconfigs a touch:
GCC_TREAT_WARNINGS_AS_ERRORS = NO
